<div class="container-fluid activity-card mt-0">
    <div class="row align-items-start pt-4 pb-4">

        <div class="w-50 pl-3 pr-1">

            <div class="dropdown">
                <button class="btn btn-cta-grey w-100 dropdown-toggle" type="button" id="dropdownAllChannels"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All channels
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownAllChannels">
                    <a class="dropdown-item" href="#">All channels</a>
                    <a class="dropdown-item" href="#">Online Store</a>
                    <a class="dropdown-item" href="#">DeX POS</a>
                    <a class="dropdown-item" href="#">Other</a>
                </div>
            </div>
        </div>
        <div class="w-50 pl-1 pr-3">
            <div class="dropdown">
                <button class="btn btn-cta-grey w-100 dropdown-toggle" type="button" id="dropdownDate"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Today
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownDate">
                    <div class="dropdown-item">
                    
                   


                    </div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another</a>
                    <a class="dropdown-item" href="#">Something</a>
                </div>
            </div>
        </div>
    </div>


        <div class="row gap-n-border">
           <div class="col-12">
              <div class="stack">
                 <div class="stack-item">
                    <h3 aria-label="Total sales" class="sub-heading">Total sales</h3>
                 </div>
                 <div class="stack-item">
                     <span class="">Today</span>
                </div>
              </div>
           </div>
           <div class="col-12"><span class="">There were no sales during this time.</span></div>
        </div>
    


  
        <div class="row gap-n-border">
           <div class="col-12">
              <div class="stack">
                 <div class="stack-item">
                    <h3 aria-label="Total sales" class="sub-heading">TOTAL SALES BREAKDOWN</h3>
                 </div>
                 <div class="stack-item">
                     <span class="">Today</span>
                </div>
              </div>
           </div>
           <div class="col-12"><span class="">There were no sales during this time.</span></div>
        </div>

 
 
        <div class="row gap-n-border">
           <div class="col-12">
              <div class="stack">
                 <div class="stack-item">
                    <h3 aria-label="Total sales" class="sub-heading">Top Products</h3>
                 </div>
                 <div class="stack-item">
                     <span class="">Today</span>
                </div>
              </div>
           </div>
           <div class="col-12"><span class="">There were no products sold during this time.</span></div>
        </div>


        <div class="row gap-n-border bg-brand-grey">
           <div class="col-12">
              <h3 aria-label="Activity" class="sub-heading">Activity</h3>
           </div>
           <div class="col-12">
              <div class="feed">
                 <div class="stack-item">
                    <div class="">
                       <div class="">
                          <div class="">
                             <div class=""><span>Online Store updated an article: <a href="#">OOLONG: The lesser known Tea</a>.</span></div>
                          </div>
                          <span class="">12 August 2020, 6:06 pm IST</span>
                       </div>
                    </div>
                 </div>
                 <div class="stack-item">
                    <div class="">
                       <div class="">
                          <div class="">
                             <div class="">
                                 <span>Online Store updated an article: <a href="https://celes-te.myshopify.com/admin/articles/385519091809">OOLONG: The lesser known Tea</a>.</span></div>
                          </div>
                          <span class="">12 August 2020, 6:05 pm IST</span>
                       </div>
                    </div>
                 </div>
                 <div class="stack-item">
                    <div class="">
                       <div class="">
                          <div class="">
                             <div class=""><span>Online Store updated an article: <a href="https://celes-te.myshopify.com/admin/articles/385519091809">OOLONG: The lesser known Tea</a>.</span></div>
                          </div>
                          <span class="">12 August 2020, 6:05 pm IST</span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-12"><a  class="" href="/admin/activity">View all recent activity</a></div>
        </div>

</div>