<% flash.each do |type, message| %>
<% if type == "alert" %>
<div class="justify-content-center ima-notification pt-2 pb-2">
<div class="alert alert-info" role="alert">
  <p class="">
    <%= message %></p>
</div>
</div>
<% end %>
<% if type == "info" %>
<div class="justify-content-center ima-notification pt-2 pb-2">
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p class="pt-1"><%= message %>
      </p>
    </div>
    <div class="col-lg-4 text-center btn-holder">
      <a href="#" class="btn btn-warning ">Select a Plan</a>
    </div>
    </div>
</div>
</div>

<% end %>
<% if type == "notice" %>
<div class="justify-content-center ima-notification pt-2 pb-2">
  <div class="col-lg-12">
    <p class="pt-1"><%= message %>
    </p>
  </div>
</div>
<% end %>
<% if type == "none" %>
 
<% end %>


<% end %>