<% @title="Health | Digital Experiences" %>
<%= stylesheet_link_tag "health" %>
<%= render "site/navbar2" %>

<section id="hero" class="hero pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 pt-5 pt-lg-0 order-1 order-lg-1 align-items-center ">
                <div >
                    <h1 class="text-center">5 Key Health Vitals <span>One</span> Solution</h1>
                </div>
            </div>
            <div class="col-lg-8 pt-5 pt-lg-0 order-2 order-lg-2 align-items-center">
                <div >

                    <h2 class="text-center">Heart Rate, Respiratory Rate, SpO2, Stress, Blood Pressure with Wellness Selfie Video App.</h2>
                    <div class="text-center">
                        <a href="https://wellnessselfie.com/selfie/" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="bg-white pt-5 pb-5 shadow-sm">
        <div class="container">
            <div class="row align-items-center g-0">
                <!-- services -->
                <div class="col-xl-3 col-lg-3 col-md-6 mb-lg-0 mb-4">
                    <div class="d-flex align-items-center">
                        <span class="icon-shape icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> 
                            <i class="fas fa-heartbeat" aria-hidden="true"></i>
                        </span>
                        <div class="ms-3">
                            <h4 class="mb-0 fw-semi-bold">e-Vitals</h4>
                            <p class="mb-0">Check your key Health Vitals now</p>
                            <a class="link link--secondary" href="https://wellnessselfie.com/selfie/">Test Now 
                                <svg aria-hidden="true " viewBox="0 0 48 16 " class="link__arrow " focusable="false " role="presentation" xmlns="http://www.w3.org/2000/svg ">
                                    <g class="link__arrow-inner">
                                        <line x1="0 " y1="8 " x2="46 " y2="8 "></line>
                                        <polyline points="39.5 1, 46.5 8, 39.5 15 "></polyline>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- services -->
                <div class="col-xl-3 col-lg-3 col-md-6 mb-lg-0 mb-4">
                    <div class="d-flex align-items-center">
                        <span class="icon-shape icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> 
                            <i class="fas fa-prescription" aria-hidden="true"></i>
                        </span>
                        <div class="ms-3">
                            <h4 class="mb-0 fw-semi-bold">Pharmacy</h4>
                            <p class="mb-0">Find the right instructor for you</p>
                            <a class="link link--secondary" href="https://www.1mg.com/?_source=bewellhealth_pharma&amp;utm_source=1mgBewellhealth&amp;utm_medium=Website&amp;utm_campaign=03062021" target="_blank">
                                Buy Medicines Now
                                <svg aria-hidden="true " viewBox="0 0 48 16 " class="link__arrow " focusable="false " role="presentation" xmlns="http://www.w3.org/2000/svg ">
                                    <g class="link__arrow-inner">
                                        <line x1="0 " y1="8 " x2="46 " y2="8 "></line>
                                        <polyline points="39.5 1, 46.5 8, 39.5 15 "></polyline>
                                    </g>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
                <!-- services -->
                <div class="col-xl-3 col-lg-3 col-md-12">
                    <div class="d-flex align-items-center">
                        <span class="icon-shape icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> 
                            <i class="fas fa-vials" aria-hidden="true"></i>
                        </span>
                        <div class="ms-3">
                            <h4 class="mb-0 fw-semi-bold">Labs</h4>
                            <p class="mb-0">Learn on your schedule</p>
                            <a class="link link--secondary" href="https://www.1mglabs.com/?_source=bewellhealth_labs&amp;utm_source=1mgBewellhealth&amp;utm_medium=Website&amp;utm_campaign=03062021" target="_blank">
                                Book Appointment Now
                                <svg aria-hidden="true " viewBox="0 0 48 16 " class="link__arrow " focusable="false " role="presentation" xmlns="http://www.w3.org/2000/svg ">
                                    <g class="link__arrow-inner">
                                        <line x1="0 " y1="8 " x2="46 " y2="8 "></line>
                                        <polyline points="39.5 1, 46.5 8, 39.5 15 "></polyline>
                                    </g>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
                <!-- services -->
                <div class="col-xl-3 col-lg-3 col-md-12">
                    <div class="d-flex align-items-center">
                        <span class="icon-shape icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> 
                            <i class="fas fa-user-md" aria-hidden="true"></i>
                        </span>
                        <div class="ms-3">
                            <h4 class="mb-0 fw-semi-bold">E-Consult</h4>
                            <p class="mb-0">Learn on your schedule</p>
                            <a class="link link--secondary" href="https://www.1mg.com/online-doctor-consultation/?_source=bewellhealth_consult&amp;utm_source=1mgBewellhealth&amp;utm_medium=Website&amp;utm_campaign=03062021" target="_blank">
                                Book Online Consultation
                                <svg aria-hidden="true " viewBox="0 0 48 16 " class="link__arrow " focusable="false " role="presentation" xmlns="http://www.w3.org/2000/svg ">
                                    <g class="link__arrow-inner">
                                        <line x1="0 " y1="8 " x2="46 " y2="8 "></line>
                                        <polyline points="39.5 1, 46.5 8, 39.5 15 "></polyline>
                                    </g>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about py-5 mb-5">
       <div class="container">
        <div class="row ">
            <div class="col-xl-4 col-lg-4 align-middle aos-init aos-animate" data-aos="fade-right">
                <div class="w-100 py-5 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="50">
                    <img src="images/health/private.png" class="img-fluid animated" alt="Best Wellness Selfie App" title="Best Wellness Selfie App">
                </div>
                <h3>
                    Stay private on public
                </h3>
                <div>
                    <p>
                        Go ahead — check your Vitals at the coffee shop. Digital Experiences Wellness Selfie App provides a secure way to check your health.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 align-middle aos-init aos-animate" data-aos="fade-right">
                <div class="w-100 py-5"> <img src="images/health/speed.png" class="img-fluid animated" alt="Best Wellness Selfie App" title="Best Wellness Selfie App">
                </div>
                <h3>
                    It’s lightning fast
                </h3>
                <div>
                    <p>
                        Our Cloud® powered servers are built for speed so you can access your key health vitals from anywhere.

                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 align-middle aos-init aos-animate" data-aos="fade-right">
                <div class="w-100 py-5"><img src="images/health/one-tap.png" class="img-fluid animated" alt="Best Wellness Selfie App" title="Best Wellness Selfie App"></div>
                <h3>
                    One tap to Health
                </h3>
                <div>
                    <p>
                        Get your health vitals at one tap. No worries about going to hospital or path lab for your key vitals check up.
                    </p>
                </div>
            </div>
        </div>
        </div>
</section>
<section class="with-you">
        <div class="container">
            <div class="row justify-content-center pb-5 text-center">
                <div class="col-lg-8">
                    <h2 class="heading--2">With you wherever you’re going</h2>
                    <p class="">One platform with all Health Vitals, Medicines &amp; Doctors.</p>
                </div>
            </div>
            <div class="row pt-5 pb-5">
                <div class="col-lg-6">
                    <img class="img-fluid" alt="digital experinces services" src="images/about.png"> </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center ">
                    <h3 class="heading--2 text-grey font-weight-4">Health<br>anywhere</h3>
                    <p class="">
                        Use one platform to check health of anyone, anywhere—in person with AI based Wellness Selfie app using your mobile phone.
                    </p>
                    <a class="link link--secondary" href="/login/">Explore ways to check your vitals
                        <svg aria-hidden="true " viewBox="0 0 48 16 " class="link__arrow " focusable="false " role="presentation " xmlns="http://www.w3.org/2000/svg "><g class="link__arrow-inner"><line x1="0 " y1="8 " x2="46 " y2="8 "></line><polyline points="39.5 1, 46.5 8, 39.5 15 "></polyline></g></svg></a>
                </div>
            </div>
            <div class="row pt-5 pb-5 ">
                <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center ">
                    <h3 class="heading--2 text-grey font-weight-4 ">Get Rid<br>of expensive devices</h3>
                    <p class="font-italic ">
                        With Digital Experiences Wellness Selfie App. Get rid of devices like ECG machine, Oxymeter, Blood pressure machine and 2 more devices.
                    </p>

                    <a class="link link--secondary " href="/market ">Explore how to market your business<svg aria-hidden="true " viewBox="0 0 48 16 " class="link__arrow " focusable="false " role="presentation " xmlns="http://www.w3.org/2000/svg
                        "><g class="link__arrow-inner "><line x1="0 " y1="8 " x2="46 " y2="8 "></line><polyline points="39.5 1, 46.5 8, 39.5 15 "></polyline></g></svg></a>
                </div>
                <div class="col-lg-6 ">
                    <img class="img-fluid " alt="market your business " src="images/health/market-your-business.jpg "> </div>
            </div>
            <div class="row pt-5 pb-5 ">
                <div class="col-lg-6 ">
                    <img class="img-fluid " alt="digital experinces services " src="images/health/manage-everything.jpg "> </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center ">
                    <h3 class="heading--2 text-grey font-weight-4 ">Manage<br>everything</h3>
                    <p class=" ">
                        Gain the insights you need to improve your health, use a single dashboard to manage of regular health vital readings.
                    </p>

                    <a class="link link--secondary " href="/manage ">Explore how to manage your business<svg aria-hidden="true " viewBox="0 0 48 16 " class="link__arrow " focusable="false " role="presentation " xmlns="http://www.w3.org/2000/svg
                        "><g class="link__arrow-inner "><line x1="0 " y1="8 " x2="46 " y2="8 "></line><polyline points="39.5 1, 46.5 8, 39.5 15 "></polyline></g></svg></a>
                </div>
            </div>
        </div>
    </section>
    <section class="professionals__vertical d-flex justify-content-center pt-5 mt-5 pb-5 bg-green-80 text-ima-dark">
        <div class="container">
            <!--Grid row-->
            <div class="row d-flex pt-5 justify-content-center">
                <div class="col-md-12 pb-1 pb-5">
                    <h2 class="heading--2 font-weight-4 text-ima-dark">Take the best foot forward</h2>
                    <p>
                        Comfortable, Convenient Remote &amp; Real-time assessment.
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-12 col-sm-6 col-md-3 pt-2 pb-2">
                    <i class="fas fa-globe fa-2x pt-1 pb-3" aria-hidden="true"></i>
                    <h3 class="h5 pt-1 pb-2">Real time Monitoring</h3>
                    <p class="">Monitor chronic illness with real-time data.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 pt-2 pb-2">
                    <i class="fas fa-toggle-off fa-2x pt-1 pb-3" aria-hidden="true"></i>

                    <h3 class="h5 pt-1 pb-2">Contactless</h3>
                    <p class="">Supports contactless Vitals Check, Reducing the risk of getting strains of COVID 19</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 pt-2 pb-2">
                    <i class="fas fa-people-carry fa-2x pt-1 pb-3" aria-hidden="true"></i>
                    <h3 class="h5 pt-1 pb-2">Low Mobility Patients</h3>
                    <p class="">It is a boon for patients with low mobility, as they can take their vitals staying at home.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 pt-2 pb-2">
                    <i class="fas fa-users fa-2x pt-1 pb-3" aria-hidden="true"></i>
                    <h3 class="h5 pt-1 pb-2">Effective Elderly Care</h3>
                    <p class="">Highly effective for elderly care. Let's share responsibilities of childrens towards their parents.</p>
                </div>
            </div>
        </div>
    </section>
<%= render "site/footer" %>