
<header class="sticky-top">
  
  <nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm marketing-nav">
    <div class="marketing-nav__logo">
        <a class="marketing-nav__logo__dex" href="/" target="_blank">
          <strong>#De<span class="badge badge-dark">X</span></strong>
        </a>
    </div>
    
   <!-- <ul class="navbar-nav hide-desktop float-right">
      <li>
        <a class="" itemprop="name"  href="#">Log in</a>
      </li>
    </ul>-->
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="nav-link " href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>        
           
      <!--<li class="dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ecommerce 
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <li class="dropdown">       
             <a class="dropdown-toggle" href="#" id="navbarDropdownStart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Start 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownStart">
                <li>
                  <a class="dropdown-item">Start your business</a>                  
                </li>
                <li>
                   <a class="dropdown-item">Branding</a>                
                </li>
                <li>
                   <a class="dropdown-item">Online Presence</a>               
                </li>
                <li>
                   <a class="dropdown-item">Site Set up</a>
                </li>
            </ul>
          </li>      
            <li class="dropdown">     
                <a class="dropdown-toggle" href="#" id="navbarDropdownSell" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sell
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSell">
                  <a class="dropdown-item" href="#">Sell everywhere</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Website</a>
                  <a class="dropdown-item" href="#">Sales Management</a>
                  <a class="dropdown-item" href="#">Payment Gateway</a>
                </div>
            </li>      
            <li class="dropdown">  
                <a class="dropdown-toggle" href="#" id="navbarDropdownMarket" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Market
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMarket">
                  <a class="dropdown-item" href="#">Market your business</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Digital Marketing</a>
                  <a class="dropdown-item" href="#">Email Marketing</a>
                  <a class="dropdown-item" href="#">Google</a>
                  <a class="dropdown-item" href="#">Facebook Ads</a>
                </div>
            </li>      
            <li class="dropdown">  
                <a class="dropdown-toggle" href="#" id="navbarDropdownManage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownManage">
                  <a class="dropdown-item" href="#">Manage everything</a>
                  <div class="dropdown-divider"></div>
                </div>
            </li>      
        </ul>
      </li> -->
      <li class="nav-item">
         <a class="nav-link " href="/ecommerce">
      Ecommerce 
        </a>
    </li>  
      <li class="nav-item">
        <a class="nav-link " href="/health">
        Health 
        </a>
      </li>  
      <li class="nav-item">
        <a class="nav-link " href="/travel">
        Travel 
        </a>
      </li>  
      <li class="nav-item">
        <a class="nav-link " href="/real-estate">
         Real Estate
        </a>
      </li>  
      </ul>
      
      <ul class="navbar-nav mr-0 ">
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">
            Pricing
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= user_session_path %>" class="nav-link" target="_blank">
            Log in
          </a>
        </li>
        <li class="nav-item">
          <form class="nav-link button_to" method="get" action="<%= new_user_registration_path %>">
            <input class="marketing-nav__button marketing-button marketing-button--small bg-green-cta" data-ga-event="Main Nav" data-ga-action="Get Started" data-trekkie-event="Main Nav" data-trekkie-action="Get Started" data-trekkie-id="Main Nav Get Started" id="MainNavSignupButton" type="submit" value="Start free trial">
          </form>
        </li>
      </ul>
    </div>
  </nav>
  
</header>