<section class="section">
  <div class="container">
    <div class="row justify-content-center">  
   
          <div class="col-lg-6 align-self-center">
                <%= image_tag(root_path + "images/celes-t.png", :class => "img-fluid", :alt => "digital experinces services") -%>
          </div>
          <div class="col-lg-6">
            <div class="featured-testimonial__content text-center text-ima-dark">
              <blockquote class="featured-testimonial__quote-wrapper mx-auto">
                <p class="featured-testimonial__quote">"We've been able to build something in 3 months that a lot of brands haven't actually gotten to in 1 year”</p>
            
                <cite class="">Anubha | Celeste New Delhi</cite>
              </blockquote>
              <div class="">
                <a href="https://celes-te.com/" class="marketing-button marketing-button--secondary" target="_blank">View Work</a></div>
            </div>
          </div>
      
    </div>
  </div>
</section>
