<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 align-self-center">
        <%= image_tag(root_path+"images/client-case-study.webp", :class=>"img-fluid" , :alt=>"digital experinces services") -%>
      </div>
      <div class="col-lg-6">
        <div class="featured-testimonial__content text-center ">
          <blockquote class="featured-testimonial__quote-wrapper mx-auto">
            <p class="featured-testimonial__quote">"We've been able to build something in 3 years that a
              lot of brands haven’t actually gotten to in 10&nbsp;years.”</p>
            <cite class="">Chioma | Cee Cee’s Closet NYC</cite>
          </blockquote>
          <div class="">
            <button type="button" class="marketing-button marketing-button--secondary">Play Chioma and Uchenna’s&nbsp;story</button></div>
        </div>
      </div>
    </div>
  </div>
</section>
